# Flask
instance/
.webassets-cache/
.flaskenv
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/
.Python
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
.Trashes
Thumbs.db